Screen {
     height: auto;
     width: auto;
     layout: horizontal;
     background: $surface;
}

Head, CurrentStage {
    layout: horizontal;
    height: 3;
    border: round white;
    color: white;
}

CurrentStage {
    border: round #5a912c;
    color: #5a912c;
}

LastInput {
    height: 5;
    border: round #5a912c;
}

InputLog, StagesTable {
    border: round #368DFF;
    height: 100%;
    width: 1fr;
}

StagesTable {
     border: round #5a912c;
}

TextLog {
    padding-bottom: 1;
}


StagesTable:focus-within {
    border: dashed #5a912c;
}

InputLog:focus-within {
    border: dashed #368DFF;
}

Sidebar {
    width: 40;
    background: $panel;
    transition: offset 500ms in_out_cubic;
    layer: overlay;

}

Sidebar:focus-within {
    offset: 0 0 !important;
}

Sidebar.-hidden {
    offset-x: -100%;
}

Sidebar Title {
    background: $boost;
    color: $secondary;
    padding: 2 4;
    border-right: vkey $background;
    dock: top;
    text-align: center;
    text-style: bold;
}

#middle_container {
    layout: horizontal;
}

#label_company_name {
    content-align: right middle;
}

#label_date {
    content-align: right middle;
    margin-right: 5;
}

#label_current_stage {
    margin-left: 1;
}

#label_progress_header, #label_input_log, #label_last_input {
    content-align: center middle;
    background: grey;
    width: 100%;
}

#progress_string {
    min-height: 3;
    height: auto;
    width: 100%;
    align: center middle;
}

#last_input {
    width: 100%;
    content-align: center middle;
    margin-top: 1;
}


.box {
    height: 100%;
    width: 1fr;
}

.table_stage {
    margin-left: 1;
    color: #368DFF;
}

.table_timer {
    color: #EDC628;
}

.table_percent {
    color: #9A85ED
}

.inputs {
    content-align: center middle;
    width: 100%;
    color: #368DFF;
}
